* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/395/718/non_2x/acrylic-paint-pour-background-vector.jpg');
    background-size: auto 100vh;   
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
  background-color: none;
  font-family: Times;
  position: fixed;
  width: 100vw;
  top: 0;
}
  .menu ul {
  display: flex;
  justify-content: space-around;
  }

.menu li {
  list-style: none;
}
}
a:hover {
  text-decoration: underline;
}

.menu li {
  list-style: none;
}

.menu a {
  display: flex;
  padding: 10px 50px
     
  
}
  
.site-subtitle,
.site-title {
  color: black;
  text-align: Center;
  
}
.site-title {
  font-size: 4em;
}
.site-subtitle {
 font-style: italic; 
 
}